/*цвет основного текста #757575*/
/*цвет меню+заголовки #212121*/
/*белый #FFFFFF  */
/*наведение на кнопки #2196F3 */
/*цвет фона #2F303A*/
/*цвет фона кнопок #F5F4FA*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-hero: #2f303a;
  --background-button: #f5f4fa;
  --social-color: #AFB1B8;
  --footer-icon: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*логотип*/
.logo {
  margin-right: 93px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.logo-foot {
  display: block;
  margin-bottom: 20px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-img {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

/*менюшка*/

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding: 32px 0px;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth .item+.item {
  margin-left: 50px;
}

.auth .link {
  padding: 32px 0px;
  color: var(--primary-text-color);

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth .link:hover,
.auth .link:focus {
  color: var(--accent-color);
}

.email-icon,
.phone-icon {
  fill: currentColor;
  margin-right: 10px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.auth {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu {
  display: flex;
  align-items: center;
}

.second {
  padding-top: 94px;
}

.hero {
  text-align: center;
  padding: 200px 0px;
}

.hero-cont {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--background-hero);

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-photo.jpg);

}

.section .hero-header {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section .button {
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.section .title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section .head-name {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.adv-flex {
  display: flex;
}

.adv-flex .item {
  width: 270px;
  align-items: center;
}

.adv-flex .item:not(:last-child) {
  margin-right: 30px;
}

.container-adv {
  display: flex;
  background-color: var(--background-button);
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}


.third {
  padding-top: 94px;
  padding-bottom: 94px;
}

.cont-work p {
  margin-top: 0px;
  margin-bottom: 124px;
}

.work {
  display: flex;
}

.work .item:not(:last-child) {
  margin-right: 30px;
}

.fourth {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.command {
  display: flex;
}

.command .item:not(:last-child) {
  margin-right: 30px;
}


.section .head-team {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.command-cont {
  padding: 30px 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;

}

.team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

}

.soc-link {

  fill: var(--social-color);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}

.icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-icon {
  display: flex;
}

.soc-list:not(:last-child) {
  margin-right: 10px;
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-color);
  fill: #fff;
}



.soc-link:not(:last-child) {
  margin-right: 10px;
}

.section .description {
  font-size: 16px;
  line-height: 1.19;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-hero);
}

.footer .footer-main {
  color: var(--primary-white-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-primary {
  color: var(--primary-white-color);

  font-size: 14px;
  text-decoration: none;
  font-style: normal;
}

.footer .footer-second {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  text-decoration: none;
  font-style: normal;
}

.footer-second {
  margin-bottom: 9px;
}

.foot-main {
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot .item:not(:last-child) {
  margin-bottom: 9px;
}

.link,
.list {
  text-decoration: none;
}

.list-link {
  color: var(--primary-text-color);
}

.portfolio-button {
  padding: 6px 22px;
  min-width: 14px;
  border:none;
  border-radius: 4px;
  

  color: var(--title-text-color);
  background-color: var(--background-button);

  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-hover {
  display: block;
}

.portfolio-hover:hover,
 .portfolio-hover:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16)
}


.portfolio-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-menu .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-head {
  margin-bottom: 4px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-link {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}

.title-adv,
.title-portfolio {
  display: none;
}

.site-nav .link.current {
  color: var(--accent-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.sec-port {
  padding: 94px 0px;
}

.main-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main-portfolio .item {
  width: 370px;
}

.fifth {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}


.image-portfolio {
  display: block;
}

.img-team {
  display: block;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-color);
  border-radius: 4px;

  fill: var(--social-color);
}

.fifth .item:not(:last-child) {
  margin-right: 30px;
}

.six .item:not(:last-child) {
  margin-right: 30px;
}

.six {
  padding: 94px 0px;
}


.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}


.footer-name {
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-cont {
  display: flex;
  align-items: baseline;
}

.footer-list {
  display: flex;

}

.icon-footer {

  fill: var(--primary-white-color);
}

.footer-list .item {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-icon);
  border-radius: 50%;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

}

.footer-list .item:not(:last-child) {
  margin-right: 10px;
}

.footer-list .item:hover,
.footer-list .item:focus {
  background-color: var(--accent-color);
}

.footer-1 {
  margin-right: 70px;
}
